{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "string-quotes": "single",
    "custom-property-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      {
        "message": "Expected custom property name to be kebab-case"
      }
    ],
    "at-rule-name-case": "lower",
    "block-closing-brace-newline-after": "always",
    "block-opening-brace-newline-after": "always",
    "color-no-hex": true,
    "declaration-no-important": true,
    "no-empty-source": null,
    "scss/dollar-variable-pattern": "/--var-.+/",
    "selector-class-pattern": "^([a-z][a-z0-9]*)(_[a-z0-9]+)*$"
  }
}
