@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.theme_light {
  // todo variable
  --var-color-primary: rgb(239 88 36);
  --var-color-primary-2nd: rgb(239 87 36 / 56.6%);
  --var-color-error: rgb(229 67 62);
  --var-color-success: rgb(71 161 105);
  --var-color-linkedin: rgb(16 160 220);
  --var-color-facebook: rgb(56 88 152);
  --var-color-transparent: rgb(255 255 255 / 0%);
  --var-color-whatsapp: rgb(92 196 95);
  --var-color-twitter: rgb(29 161 242);
  --var-color-grey: rgb(237 242 247);
  --var-color-light: rgb(255 255 255);
  --var-color-dark: rgb(30 30 30 / 81.2%);
  --var-color-text-dark: rgb(65 119 214);
  --var-border-radius-primary: 6px;
  --var-box-shadow-primary: rgb(149 157 165 / 20%) 0 8px 24px;
  --var-box-shadow-secondary: rgb(0 0 0 / 35%) 0 5px 15px;
  --var-font-family-primary: 'Roboto', sans-serif;
}
